[FORMAT]
1.0

[NUMBER ELEMENTS]
4096

[HORIZONTAL POLYNOMIAL DEGREE]
3

[VERTICAL RESOLUTION]
72

[VERTICAL STENCIL]
2

[NUMBER FIELDS]
4

[NUMBER ELEMENTS PER BLOCK]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VERBOSE]
TRUE
